:root {
  font-family: "Lexend", serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 100%;
  min-height: 100%;

  color-scheme: light dark;
  --main-color: #142057;
  --secondary-color: #9f3d4b;
  --ternary-color: #1a1a1a;
  --font-color: #fffcf5;
  --error-color: #d51919;
  color: var(--font-color);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: inherit;
  margin: 0;
  min-width: auto;
  min-height: auto;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.main-div {
  width: 100%;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  background-image: url("./assets/vectorform.png");
  background-size: 1700px 1500px;
  background-repeat: no-repeat;
  background-position: 400px -400px;
}
table {
  width: 90%;
  border-collapse: collapse;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
td,
th {
  border-bottom: 1px solid #4d4d4d;
  padding: 20px;
  width: 338.6px;
  height: 48px;
}

caption {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
  left: 20px;
  width: fit-content;
  font-size: 25px;
  color: var(--font-color);
}

h2 {
  margin: 0;
  font-family: "Lexend", serif;
  font-size: 40px;
}

.arrow {
  position: relative;
  top: 6px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.9);
}

.themebtn {
  width: 50px;
  height: 50px;
  position: relative;
  left: 600px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--ternary-color);
}

.deletebtn > button {
  font-family: "Lexend", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.fa-solid.fa-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  width: 15px;
  height: 15px;
}

.actionbtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cell2,
.cell3,
.cell4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
}

.cell2 {
  position: relative;
  left: 15px;
}

.cell3 {
  position: relative;
  left: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.cell4 {
  position: relative;
  left: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.cell5 {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  width: 70px;
  cursor: pointer;
}

.cell5.submit {
  font-family: "Lexend", serif;
  font-weight: 600;
  width: 120px;
  height: 40px;
  left: 0px;
}

.cell5.view {
  font-family: "Lexend", serif;
  font-weight: 600;
  width: 100px;
  height: 40px;
}

.cell5.submit > button :active {
  transform: scale(5px);
}

.cell5 > p {
  margin: 0;
}

.color-light {
  background-color: var(--font-color);
  color: var(--ternary-color);
}

.color-dark {
  background-color: var(--ternary-color);
  color: var(--font-color);
}

.cell1 {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}

.name,
.mail {
  width: 120px;
  position: relative;
}

.name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
}
.mail {
  display: flex;
  align-items: center;
  height: 25.5px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
}

.cell5.theme {
  width: 20%;
}

input {
  font-family: "Lexend", serif;
  width: 400px;
  background-color: var(--font-color);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--ternary-color);
}

.singleInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 5px;
  gap: 4px;
  color: var(--font-color);
}

.inputcolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.InputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  margin-top: 20px;
  min-width: 100%;
  padding-left: 80px;
  box-sizing: border-box;
}

.error {
  font-size: 12px;
  color: var(--error-color);
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    width: 1024px;
    height: auto;
  }

  .main-div {
    width: 1024px;
    background-size: 1500px 1200px;
    background-position: 300px -300px;
  }

  th,
  td {
    padding: 18px;
  }

  .sorter {
    font-size: 14px;
  }

  .name {
    font-size: 16px;
  }

  .mail {
    font-size: 12px;
  }

  .cell2,
  .cell3,
  .cell4 {
    font-size: 16px;
  }

  .cell5.store1,
  .cell5.store2,
  .cell5.store3,
  .cell5.store4 {
    font-size: 12px;
    gap: 2.5px;
    width: 122.5px;
    height: 34px;
  }

  .cell3 {
    left: 1px;
  }

  .cell4 {
    left: 1px;
  }

  .cell5 {
    padding: 8px;
    left: 1px;
  }
  .themebtn {
    left: 400px;
  }
  .arrow {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  html,
  body {
    width: 768px;
    height: auto;
  }

  .main-div {
    width: 768px;
    background-image: none;
  }

  th,
  td {
    padding: 12px;
  }

  .sorter {
    font-size: 12px;
  }

  .name {
    font-size: 14px;
  }

  .mail {
    font-size: 10px;
  }

  .cell2,
  .cell3,
  .cell4 {
    font-size: 12px;
  }

  .cell5.store1,
  .cell5.store2,
  .cell5.store3,
  .cell5.store4 {
    font-size: 10px;

    width: 90px;
    height: 30px;
  }

  .cell2 {
    left: 1px;
  }

  .cell3 {
    left: 1px;
  }

  .cell4 {
    left: 1px;
  }

  .cell5 {
    padding: 6px;
    left: 1px;
  }
  .themebtn {
    left: 300px;
  }
  .arrow {
    top: 3px;
    width: 18px;
    height: 18px;
  }
  .InputForm {
    padding: 0;
    align-items: center;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  html,
  body {
    width: 425px;
    height: auto;
  }

  .main-div {
    width: 425px;
    height: auto;
    background-image: none;
    align-items: center;
  }

  th {
    padding: 10px;
  }
  td {
    padding: 5px;
  }

  .sorter {
    font-size: 12px;
  }

  .name {
    font-size: 10px;
  }

  .mail {
    font-size: 9px;
  }

  .cell2,
  .cell3,
  .cell4 {
    font-size: 10px;
  }

  .cell5.store1,
  .cell5.store2,
  .cell5.store3,
  .cell5.store4 {
    font-size: 10px;

    width: 90px;
    height: 30px;
  }

  .cell2 {
    left: 1px;
  }

  .cell3 {
    left: 1px;
  }

  .cell4 {
    left: 1px;
  }

  .cell5 {
    padding: 6px;
    left: 1px;
  }
  .themebtn {
    left: 150px;
  }
  .arrow {
    top: 3px;
    width: 18px;
    height: 18px;
  }
  .InputForm {
    padding: 0;
    align-items: center;
  }
  .actionbtns {
    font-size: 9px;
    width: 10px;
    height: 10px;
  }
  .deletebtn > button {
    padding: 10px;
    width: 10px;
    height: 10px;
  }
  .fa-solid.fa-trash {
    width: 2px;
    height: 2px;
  }
}

@media (min-width: 1440px) {
  .homepage > button {
    position: relative;
    left: -5px;
  }
}
